body {
  background: linear-gradient(to bottom, red, yellow);
}

#title {
  color: rgb(24, 173, 67);
}

.subtitle {
  color: rgb(255, 93, 43);
}

#service-image {
  height: 400px;
  width: 70%;

}















