img {
  width: 400px;
  height: 300px;

}

a {


}


a:hover {

  color: rgb(92, 227, 230);
}





.sidebar {
  background: rgb(156, 250, 127);
  margin: 10px;
  border: 20px;
  float : right;

}

.post {

  border: 3px solid rgb(44, 186, 0) ;
  margin: 10px;
  padding: 10px;


}

.post-title {


}

.post-text {


}








































